


<div class="" style="margin-top:-30px;margin-left:-30px;">
    <div class="bg-dark text-light " style="display:flex;justify-content: space-between;align-items: center;padding:30px 60px 10px 60px; ">
        <a href="/admin"  style="color:white;font-size:24px;margin-top:-20px;text-decoration:none">Admin Panel for shark</a>
        
        <ul style='display:flex;justify-content: space-between;align-items: center;text-align: center;list-style-type: none;'>
            <li><a href="/admin" class="text-light"style="padding:15px;margin-top:15px;font-size:16px">Admin</a></li>
            <li><a href="/admin/add" class="active text-light"style="padding:15px;margin-top:15px;font-size:16px" >Add video</a></li>
        </ul>
    </div>


    <br>
    <!-- start -->





    <!-- end -->
</div>

<div class='container'>
    <div class="container pb-5 mb-sm-1">
        <!-- Categories grid-->
        <div class="row">

            <%data.forEach((doc)=>{%>


            <!-- Category-->
            <div class="col-md-4 col-sm-6">
                <div class="card border-0 mb-grid-gutter h-100">
                    <a class="card-img-tiles" href="#">
                        <div class="main-img" width="100" height="100">
                            <img src="<%=doc.data().videoThumbnail%>" height="250px" class="card-img-top"  alt="Your internet is shit">
                        </div>

                    </a>
                    <div class="card-body border mt-n1 py-4 text-center">
                        <h2 class="h5 mb-1"><%=doc.data().title%></h2>
                        <span class="d-block mb-3 font-size-xs text-muted"><br>
                             <!-- <span class="font-weight-semibold">$49.99</span></span> -->
                            <% if(doc.data().videoUrl.length > 35) { %>
                                <a class="btn btn-pill btn-outline-primary btn-sm"  data-toggle="modal"
                                data-target="#a<%=doc.data().id%>a" >Play video</a>
                                <a class="btn btn-pill btn-outline-success btn-sm"  data-toggle="modal"
                                data-target="#b<%=doc.data().id%>b" >Edit video</a>
                                <a class="btn btn-pill btn-outline-danger btn-sm"  data-toggle="modal"
                                data-target="#a<%=doc.data().id%>12a" >Delete video</a>
                             <% }else{ %>
                        <a class="btn btn-pill btn-outline-primary btn-sm"  href='<%=doc.data().videoUrl%>' target="_blank" >Play video</a> 
                        <a class="btn btn-pill btn-outline-danger btn-sm"  data-toggle="modal"
                                data-target="#a<%=doc.data().id%>12a" >Delete video</a>
                                <% } %>
<!-- display part -->

                            <div class="modal fade" id="a<%=doc.data().id%>a" tabindex="-1"
                                role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-lg" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Video Playback</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">

                                            <video style="cursor: pointer;" preload='metadata' width="100%" height="100%"
                                                controls controlsList=" nodownload"
                                                poster="<%=doc.data().videoThumbnail%>">
                                                <source src="<%=doc.data().videoUrl%>"
                                                    type="video/mp4">
                                                <source src="<%=doc.data().videoUrl%>"
                                                    type="video/ogg">
                                                Your browser does not support the video or you don't have a stable internet conntection!
                                            </video>
                                            

                                        </div>
                                        <div class="modal-footer" style='font-size:14px'>
                                          video shark @ 2021
                                        </div>
                                    </div>
                                </div>
                            </div>
<!-- display part end-->



<!-- deleting part start -->
<div class="modal fade" id="a<%=doc.data().id%>12a" tabindex="-1"
    role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete video</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

           <h4>Are you sure you want to delete this video?</h4>
           <br>
           
                       <div style='display:flex;justify-content:space-around;align-items:center'>
                        <a class="btn btn-pill btn-outline-danger btn-sm" href="/admin/delete/<%=doc.id%>/<%=doc.data().picId%>/<%=doc.data().vidId%>" >Delete video</a>
                
                        <a class="btn  btn-outline-success close" style="font-size: 16px; font-weight: normal;"data-dismiss="modal" aria-label="Close" >cancel</a> 
                       </div>
            </div>
            <div class="modal-footer" style='font-size:14px'>
              video shark @ 2021
            </div>
        </div>
    </div>
</div>
<!-- deleting part end -->


<!-- Edit part start -->
<div class="modal fade" id="b<%=doc.data().id%>b" tabindex="-1"
    role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit Content</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="container">
                    
                   
                    <form action="/admin/edit" method="post" enctype="multipart/form-data">
                
                        <div class="form-group">
                            <label class='text-dark' for="">Title</label>
                            <input type="text" class="form-control" name="title" id='title' value='<%=doc.data().title%>' placeholder="<%=doc.data().title%>"required>
                               
                            <!-- hidden values -->
                            <input type="text" style='visibility: hidden' class="form-control" name="docId" id='docId' value='<%=doc.id%>'>
                            <br>
                            <div class="form-group">
                                <label class='text-dark' for="">Upload Thumbnail </label><br>
                                <input type="file" name="videoThumbnail" id='videoThumbnail' >
                            </div>
                            <br>
                         <img src="<%=doc.data().videoThumbnail%>" width='150px' height='150px' alt="No-image-loaded">
                            <br>
                            <!-- <div class="form-group">
                                <label class='text-dark' for="">Upload video </label><br>
                                <input id='VideoUrl' type="file" name="VideoUrl" >
                            </div><br> -->
                     
                
                            <br>
                        </div>
                
                        <button id='lec-upload-button' type="submit" class="btn btn-success hide-item">Update</button>
                        <h3 id="add-lec-progress" class="hide-item"></h3>
                    </form>
                </div>
                
   
            </div>
            <div class="modal-footer" style='font-size:14px'>
              video shark @ 2021
            </div>
        </div>
    </div>
</div>
<!-- Edit part end -->

                    </div>
                </div>
            </div>
            <%})%>

        </div>
    </div>
</div>
  
